@tailwind base;

@layer base {
  :root {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    --color-base: 245, 246, 247;
    --color-surface: 255, 255, 255;
    --color-primary: 21, 212, 175;
    --color-secondary: 48, 56, 70;
    --color-on-base: 0, 0, 0;
    --color-on-surface: 0, 0, 0;
    --color-on-primary: 255, 255, 255;
    --color-on-secondary: 255, 255, 255;

    @apply text-onBase bg-base;
  }

  div,
  nav,
  footer {
    -webkit-transition: background-color 500ms ease-in-out;
    -moz-transition: background-color 500ms ease-in-out;
    -o-transition: background-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out;
  }

  .dark {
    --color-base: 18, 18, 18;
    --color-surface: 35, 35, 35;
    --color-on-base: 255, 255, 255;
    --color-on-surface: 255, 255, 255;

    @apply text-onBase bg-base;
  }

  a {
    @apply hover:text-primary;
  }

  .fade-in {
    animation: animation-fade-in 0.7s;
  }

  .fade-in-fast {
    animation: animation-fade-in 0.4s;
  }

  .fade-in-slow {
    animation: animation-fade-in 1s;
  }

  .fade-out {
    animation: animation-fade-out 0.7s;
  }

  .fade-out-fast {
    animation: animation-fade-out 0.4s;
  }

  .fade-out-slow {
    animation: animation-fade-out 1s;
  }

  @keyframes animation-fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes animation-fade-out {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
}
