@layer components {
  .nav-bar {
    @apply bg-surface fixed shadow-sm flex flex-col w-full h-12 items-center overflow-hidden text-onSurface;

    z-index: 1;
    -webkit-transition: background-color 500ms ease-in-out, height 500ms ease-in-out;
    -moz-transition: background-color 500ms ease-in-out, height 500ms ease-in-out;
    -o-transition: background-color 500ms ease-in-out, height 500ms ease-in-out;
    transition: background-color 500ms ease-in-out, height 500ms ease-in-out;
  }

  .nav-bar.open {
    @apply h-screen;
  }

  .nav-bar .main-wrapper {
    @apply container h-12 max-w-6xl flex items-center justify-between mx-auto;
  }

  .nav-bar .main-wrapper .main-icon {
    @apply flex items-center mx-auto md:mx-3 px-2 space-x-2 hover:text-onBase;
  }

  .nav-bar .main-wrapper .main-icon .header-title {
    @apply sm:block whitespace-nowrap text-xl font-bold;
  }

  .nav-bar .main-wrapper .horizontal-nav-list {
    @apply hidden md:flex flex-row w-full justify-evenly;
  }

  .nav-bar .main-wrapper .theme-wrapper {
    @apply absolute md:relative right-2;
  }

  .nav-bar .drawer {
    @apply flex-grow w-full hidden;
  }

  .nav-bar.moving .drawer {
    @apply block overflow-hidden;
  }

  .nav-bar.open:not(.moving) .drawer {
    @apply block overflow-auto;
  }

  .nav-bar .drawer .grid-container {
    @apply grid grid-cols-2 w-full p-4 gap-5 text-center;
  }

  .nav-bar .drawer-item {
    @apply col-span-1 py-6 block rounded-lg border border-onBase hover:border-primary;
  }
}
