@tailwind components;

@layer components {
  .nav-bar {
    @apply bg-surface fixed shadow-sm flex flex-col w-full h-12 items-center overflow-hidden text-onSurface;
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
  }

  .nav-bar .main-wrapper {
    @apply container max-w-6xl flex items-center justify-between mx-auto;
  }

  .nav-bar.open {
    @apply h-screen;
  }

  .nav-bar .drawer {
    @apply flex-grow w-full;
  }

  .nav-bar .drawer-item {
    @apply col-span-1 py-6 block rounded-lg border border-onBase hover:border-primary;
  }
}
